:root {
    --theme-color-lb : #54C6EB ;
    --theme-color-lg : #31E981 ;
    --theme-color-db : #094D92 ;
    --theme-color-lp : #C879FF ;
    --theme-color-borders : #999999ff ;
  
    
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica',
      sans-serif;
  }

#item_container {
    display: grid;
    grid-template-rows: 4em auto ;
}

#item_container div  {
    min-width:30em;
    padding: .5em;
    border: 1px solid var(--theme-color-borders);
}